extends layout

block content
  .container(style="max-width: 800px;")
    .row
      .column
        h3.text-center Welcome to #{title}
        form(id="translate")
          fieldset
            .row          
              .column
                select(name="languages" id="languages" placeholder="Select a language" required)
                  option(value='ar-XA') Arabic
                  option(value='cs-CZ') Czech (Czech Republic)
                  option(value='da-DK') Danish (Denmark)
                  option(value='nl-NK') Dutch (Netherlands)
                  option(value='en-AU') English (Australia)
                  option(value='en-IN') English (India)
                  option(value='en-GB') English (UK)
                  option(selected='selected', value='en-US') English (US)
                  option(value='fil-PH') Filipino (Philippines)
                  option(value='fi-FI') Finnish (Finland)
                  option(value='fr-CA') French (Canada)
                  option(value='fr-FR') French (France)
                  option(value='de-DE') German (Germany)
                  option(value='el-GR') Greek (Greece)
                  option(value='hi-IN') Hindi (India)
                  option(value='hu-HU') Hungarian (Hungary)
                  option(value='id-ID') Indonesian (Indonesia)
                  option(value='it-IT') Italian (Italy)
                  option(value='ja-JP') Japanese (Japan)
                  option(value='ko-KR') Korean (South Korea)
                  option(value='cmn-CN') Mandarin Chinese
                  option(value='nb-NO') Norwegian (Norway)
                  option(value='pl-PL') Polish (Poland)
                  option(value='pt-BR') Portuguese (Brazil)
                  option(value='pt-PT') Portuguese (Portugal)
                  option(value='ru-RU') Russian (Russia)
                  option(value='sk-SK') Slovak (Slovakia)
                  option(value='es-ES') Spanish (Spain)
                  option(value='sv-SE') Swedish (Sweden)
                  option(value='tr-TR') Turkish (Turkey)
                  option(value='uk-UA') Ukrainian (Ukraine)
                  option(value='vi-VN') Vietnamese (Vietnam)
              .column.column-10.text-center(style="margin: 0px auto;")
                img(id='flag' src='images/flags/en-US.png')
              .column
                select(name="voices" id="voices" placeholder="Select a voice" required)
            textarea(name="text" id="text" style="height:225px" placeholder="Enter your text here to convert text-to-speech" autofocus required)
          .row
            .column
              button.button(type="submit") Go
            .column.column-30.text-center(style="margin: 0px auto;")
              span(style="padding: 10px") Text
              label.switch
                input(id="ssml" type="checkbox")
                span.slider.round
              span(style="padding: 10px") SSML
            .column
              button.button.button-outline.float-right(type="reset") Clear
        .row
          .column.text-center
            audio(id="player" controls="controls" autobuffer="autobuffer" autoplay="autoplay" style="width: 100%;")
              source(id="mp3_src" src)

