doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css')
    link(rel='stylesheet', href='stylesheets/pace.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content

  script(src='//code.jquery.com/jquery-3.7.1.min.js')
  script(src='javascripts/pace.min.js')
  script(src='javascripts/client.js')
  script(src="//www.google.com/recaptcha/api.js" async defer)
  - if(typeof(google_analytics) != 'undefined') {
  // Global site tag (gtag.js) - Google Analytics
  script(src="//www.googletagmanager.com/gtag/js?id=#{google_analytics}" async)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '#{google_analytics}');
  - }